<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LiveWebMessageHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveWebMessageHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LiveWebMessageHandler.Properties.Settings>
            <setting name="DataDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SanctionNum" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="MessageController_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MessageController_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MessageController_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="UriWaterskiResultsProd" serializeAs="String">
                <value>https://www.waterskiresults.com</value>
            </setting>
            <setting name="UriWaterskiResultsApiProd" serializeAs="String">
                <value>https://www.waterskiresults.com/import/api</value>
            </setting>
            <setting name="UriWaterskiResultsTest" serializeAs="String">
                <value>https://localhost:7007</value>
            </setting>
            <setting name="UriWaterskiResultsApiTest" serializeAs="String">
                <value>https://localhost:7007/api</value>
            </setting>
        </LiveWebMessageHandler.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.50" newVersion="3.5.1.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <LiveWebMessageHandler.Properties.Settings>
      <setting name="UriWaterskiResults" serializeAs="String">
        <value>https://www.waterskiresults.com</value>
      </setting>
      <setting name="UriWaterskiResultsApi" serializeAs="String">
        <value>https://www.waterskiresults.com/import/api</value>
      </setting>
    </LiveWebMessageHandler.Properties.Settings>
  </applicationSettings>
</configuration>